@import "base";
@import "dropdown";
@import url();

// Variáveis globais SCSS
$first-font-family:'Bebas Neue', cursive; 
$header-font-size: 10rem;
$footer-font-size: 5rem;
$mobile-height: 56.25rem;
$mobile-width: 40rem;
$btn__key--color: #1f3b4d;
$btn__number--color: rgba(0, 0, 0, 0.9);
$number-color: #fff;
$box-shadow: #000;

// Layout

header {
  font-size: 1.5rem;
//   font-weight: 800;
  margin-top: 1rem;
  max-width: inherit;
  font-family: $first-font-family;
  display: flex;
  justify-content: center;
}

.position_Calculator {
  font-family: $first-font-family;
  margin-top: 1rem;
  max-width: inherit;
  .calculator {
    .dropdown {
      display: none;
    }
    display: grid;
    justify-content: center;
    grid-template:
      "total_Input  total_Input  total_Input    total_Input    total_Input" 5rem
      "clear        delete       key_Multiply   key_Divide     key_Squareroot" 5rem
      "number_7     number_8     number_9       key_Subtract   key_Potency2" 5rem
      "number_4     number_5     number_6       key_Add        key_Potency2" 5rem
      "number_1     number_2     number_3       key_Common     key_Potency10" 5rem
      "number_0     number_0     key_Equal      key_Equal      key_Potency10" 5rem
      / 6.25rem 6.25rem 6.25rem 6.25rem 6.25rem;
  }
  .total_Input {
    grid-area: total_Input;
    width: 31.25rem;
    height: 5rem;
  }
  .clear {
    grid-area: clear;
  }
  .delete {
    grid-area: delete;
  }
  .key_Multiply {
    grid-area: key_Multiply;
  }
  .key_Divide {
    grid-area: key_Divide;
  }
  .key_Squareroot {
    grid-area: key_Squareroot;
  }
  .number_7 {
    grid-area: number_7;
  }
  .number_8 {
    grid-area: number_8;
  }
  .number_9 {
    grid-area: number_9;
  }
  .key_Subtract {
    grid-area: key_Subtract;
  }
  .key_Potency2 {
    grid-area: key_Potency2;
  }
  .number_4 {
    grid-area: number_4;
  }
  .number_5 {
    grid-area: number_5;
  }
  .number_6 {
    grid-area: number_6;
  }
  .key_Add {
    grid-area: key_Add;
  }
  .number_1 {
    grid-area: number_1;
  }
  .number_2 {
    grid-area: number_2;
  }
  .number_3 {
    grid-area: number_3;
  }
  .key_Common {
    grid-area: key_Common;
  }
  .key_Potency10 {
    grid-area: key_Potency10;
  }
  .number_0 {
    grid-area: number_0;
  }
  .key_Equal {
    grid-area: key_Equal;
  }

  // Media Querye
  @media (max-width: $mobile-width) and (orientation: portrait) {
    .calculator {
      display: grid;
      grid-template-columns: repeat(4, 4rem);
      .total_Input {
        width: 16rem;
        grid-column: 1 / 6;
      }
      .dropdown {
        grid-column: 3;
        display: grid;
        z-index: 1;
      }
      .key_Potency10,
      .key_Potency2 {
        display: none;
        border-bottom-right-radius: none;
      }
      .key_Common {
        grid-column: 1;
        grid-row: 6;
      }
      .number_0 {
        grid-column: 2;
      }
      .key_Equal {
        grid-column: 3;
      }
      .key_Add {
        grid-row: 6;
      }
      .key_Subtract {
        grid-row: 5;
      }
      .key_Divide {
        grid-row: 4;
      }
      .key_Multiply {
        grid-column: 4;
        grid-row: 3;
      }
      .key_Squareroot {
        grid-column: 4;
      }
      .number_9 {
        grid-column: 3;
        z-index: 0;
      }
    }
  }
}

// Design Calculadora

.position_Calculator {
  .calculator {
    color: #fff;
    .total_Input {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      cursor: default;
      background-color: $btn__number--color;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
      box-shadow: 0 0 1.5em $box-shadow;
      text-align: right;
      color: $number-color;
      font-size: 2.8rem;
      padding-right: 0.5rem;
      overflow-x: auto;
    }
    .btn_Second {
      cursor: pointer;
      color: #fcfcfc;
      font-size: 1.3rem;
      border: solid 1px black;
      border-radius: 0.3rem;
      box-shadow: 0 0 1.5em $box-shadow;
      &:hover {
        background-color: rgba(0, 0, 0, 0.7);
      }
      &:active {
        transform: scale(0.92);
      }
    }
    .btn__clear {
      background-color: red;
      font-size: 2rem;
      &:hover {
        background-color: rgb(63, 6, 6);
      }
    }
    .btn__number {
      background-color: $btn__number--color;
    }
    .btn__key {
      background-color: $btn__key--color;
    }
  }
}

footer {
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
  margin-left: 2rem;
  max-width: inherit;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  .footer__a {
    color: black;
    text-decoration: none;
  }
}
